In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Job_Placement_Data.csv')

In [3]:
gen = pd.get_dummies(df['gender'],drop_first = True)
hsc_sub = pd.get_dummies(df['hsc_subject'],drop_first=True)
ug = pd.get_dummies(df['undergrad_degree'],drop_first=True)
exp = pd.get_dummies(df['work_experience'],drop_first=True)
special = pd.get_dummies(df['specialisation'],drop_first=True)

In [4]:
df = df.drop(['gender','hsc_subject','undergrad_degree','work_experience','ssc_board','hsc_board','specialisation'],axis=1)

In [5]:
df = pd.concat([gen,hsc_sub,ug,exp,special,df],axis=1)
df

,M,Commerce,Science,Others,Sci&Tech,Yes,Mkt&HR,ssc_percentage,hsc_percentage,degree_percentage,emp_test_percentage,mba_percent,status
0,1,1,0,0,1,0,1,67.00,91.00,58.00,55.0,58.80,Placed
1,1,0,1,0,1,1,0,79.33,78.33,77.48,86.5,66.28,Placed
2,1,0,0,0,0,0,0,65.00,68.00,64.00,75.0,57.80,Placed
3,1,0,1,0,1,0,1,56.00,52.00,52.00,66.0,59.43,Not Placed
4,1,1,0,0,0,0,0,85.80,73.60,73.30,96.8,55.50,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,1,1,0,0,0,0,0,80.60,82.00,77.60,91.0,74.49,Placed
211,1,0,1,0,1,0,0,58.00,60.00,72.00,74.0,53.62,Placed
212,1,1,0,0,0,1,0,67.00,67.00,73.00,59.0,69.72,Placed
213,0,1,0,0,0,0,1,74.00,66.00,58.00,70.0,60.23,Placed
214,1,0,1,0,0,0,1,62.00,58.00,53.00,89.0,60.22,Not Placed

In [6]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=30)

In [8]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear',gamma='auto',C=2)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

In [9]:
from sklearn.metrics import classification_report,accuracy_score
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

  Not Placed       0.89      0.70      0.78        23
      Placed       0.85      0.95      0.90        42

    accuracy                           0.86        65
   macro avg       0.87      0.82      0.84        65
weighted avg       0.86      0.86      0.86        65

In [11]:
print(accuracy_score(y_test,y_pred))

0.8615384615384616